
/* Font family courtesy of https://fonts.google.com/specimen/Josefin+Sans  */
body {
  font-family: 'Redressed', cursive;;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  background: radial-gradient( rgb(87, 3, 73) 0%, rgba(26, 12, 8, 0.954) 100%);
  color: rgb(233, 217, 217);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px;
}

.button{
  border-radius: 15px;
  margin-top: 25px;
  background: radial-gradient( rgb(87, 3, 73) 0%, rgba(26, 12, 8, 0.954) 100%);
  border-color: rgb(87, 3, 73);
}
img{
  border-radius: 15px;
  padding: 10px;
}

.hide{
  display: none;
}

.button:hover {
  border-color: rgb(87, 3, 73);
  box-shadow: inset 0px 0px 8px rgb(82, 2, 68), 0 0 15px rgb(245, 13, 168);
}

#cardDesc{
  font-family: 'Josefin Sans', sans-serif;
}